{% extends 'base.html' %}

{% block content %}
    <div class="card mb-3 border-0 nth-shadow">
        <div class="card-body">
            <div class="card-title nth-card-title">
                <h4>Запрос на автоматическую генерацию пароля на сайте</h4>
                <p>Новый пароль будет сгенерирован автоматически и отправлен на указанный электронный адрес.</p>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary " type="submit">Сгенерировать и отправить</button>
            </form>
        </div>
    </div>
{% endblock %}