{% extends 'base.html' %}
{% block content %}
{% load static %}
<main class="form-signin">
    <div class="p-4 p-md-3 mb-4 rounded text-body-emphasis bg-danger bg-gradient">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <div class="d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="50" height="60" role="img"
                             aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                             focusable="false">
                            <image href="{% static 'icon/email.png' %}" x="0" y="0" width="50" height="60"/>
                        </svg>
                    </div>
                </div>
                <div class="col-10">
                    <div>
                        <h6 class="display-6 fst-italic">Удаление сообщения</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <form method="post">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <div style="color: #999999">Тема письма:</div>
                    </div>
                    <div class="col-8">
                        <h6>{{ message.subject }}</h6>
                    </div>
                </div>
                                    <p></p>
                <div class="row">
                    <div class="col-2">
                        <div style="color: #999999">Содержание:</div>
                    </div>
                    <div class="col-8">
                        <h6>{{ message.message }}</h6>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-danger">Удалить</button>
                <a href="{% url 'message:list' %}" class="btn btn-warning">Отмена</a>
            </div>

        </form>
    </div>
</main>

{% endblock %}
