{% extends 'base.html' %}
{% block content %}
{% include 'message.html' %}
{% load static %}
<main class="form-signin">
    <div class="p-4 p-md-3 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <div class="d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="50" height="60" role="img"
                             aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                             focusable="false">
                            <image href="{% static 'icon/user.png' %}" x="0" y="0" width="50" height="60"/>
                        </svg>
                    </div>
                </div>
                <div class="col-10">
                    <div>
                        <h6 class="display-6 fst-italic">Ввод / редактирование клиента</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-block btn-success">
                Создать / Сохранить
            </button>
        </form>
    </div>

</main>

{% endblock %}