{% extends 'base.html' %}
{% block content %}
{% include 'message.html' %}
{% load static %}
<main class="form-signin">
    <div class="p-4 p-md-3 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <div class="d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="50" height="60" role="img"
                             aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                             focusable="false">
                            <image href="{% static 'icon/setting.png' %}" x="0" y="0" width="50" height="60"/>
                        </svg>
                    </div>
                </div>
                <div class="col-10">
                    <div>
                        <h6 class="display-6 fst-italic">Ввод / редактирование рассылки сообщения</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
                <div class="container" style="height: 450px">
                    <div class="row" style="height: 100px" >
                        <div style="width: 280px;">
                            <label >Начальная дата и время:</label>
                            <input type="datetime-local" name="time_start" value="{{ time_start }}">
                        </div>
                        <div style="width: 280px;">
                            <label >Конечная дата и время:</label>
                            <input type="datetime-local" name="time_end" value="{{ time_end }}">
                        </div>
                        <div style="width: 400px;" >
                            <div class="row">
                                <label>Интервал: </label>
                            </div>
                            <div class="row">
                                    <select class="col-7" name="interval_list">
                                        {% for item in interval_list %}
                                        <option value="{{ item.value }}">{{ item.text }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height: 50px" >
                        <div style="width: 870px;">
                            <label class="col-2" >Статус:</label>
                                <select class="col-7" name="status_list">
                                        {% for item in status_list %}
                                        <option value="{{ item.value }}">{{ item.text }}</option>
                                        {% endfor %}
                                </select>
                        </div>
                    </div>
                    <div class="row" style="height: 200px" >
                        <div class="col-10" style="height: 220px;">
                            <p></p>
                            <label class="col-2" >Список адресов:</label>
                            <textarea class="col-5" style="height: 180px;" name="list_address">{{ list_address }}</textarea>
                         </div>
                        <div class="col-10">
                            <p></p>
                            <div class="row">
                            <label class="col-2" >Сообщение:</label>
                                    <select class="col-7" name="list_message">
                                        {% for item in list_message %}
                                        <option value="{{ item.pk }}">{{ item.subject }} - {{ item.message }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>
                        <p></p>
                    </div>
                </div>

            <button type="submit" class="btn btn-block btn-success" href="">
                Создать / Сохранить
            </button>
        </form>
    </div>

</main>

{% endblock %}